/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(150deg, #6C3483, #58D68D); /* Gradiente lineal */
}

main {
    flex: 1;
    padding: 20px;
}

/* Estilos de la Barra de Navegación */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos del Pie de Página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.container h2{
    color:#fff;
}

/* Estilo para cada elemento de la lista de tesis */
.thesis-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.thesis-item {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 15px;
}

.thesis-item h3 {
    margin-top: 0;
}

.thesis-item p {
    margin: 5px 0;
}

.thesis-item button {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.thesis-item button:hover {
    background-color: #555;
}
